<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
    <title>About Weblord</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="/mainapp/homepage/">Home</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section id="hero">
        <div class="hero-content">
            <h1>Danishuddin Mohammed</h1>
            <p>Human | Learning to Craft Concepts, Code, and Conscious Machines.</p>
            <a href="https://www.linkedin.com/in/danishuddin-m-90123b20b" class="btn">LinkedIn</a>
        </div>
    </section>
    <section id="about">
        <h2>About Me</h2>
        <p>They say, the future belongs to those who believe in the beauty of their Dreams. 
            our destinies are shaped not only by our actions but by the depth of our belief in what we can achieve. 
            Life is an incredible journey, and I'm driven by an unshakable belief in the extraordinary possibilities it holds for me. 
            My ambition knows no bounds, and I'm on a quest to turn dreams into realities and by the grace and will of load, I WILL.</p>
    </section>
    <section id="portfolio">
        <h2>Portfolio</h2>
        <a href="C:\Users\danis\OneDrive\Desktop\Stuff\CVW002T.pdf" class= "download-button">Download</a>
    </section>
    <section id="contact">
        <h2>Contact Me</h2>
        <p>
            <li>Email: imdanishm@gmail.com</li>
            <li>Phone: +90 5510828692</li>
        </p>    
    </section>
    <footer>
        <p>&copy; 2023 DanISH</p>
    </footer>
</body>
</html>
